* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Font Size e Font Family */

  --font-leckerlione: 'Leckerli One', cursive;
  --font-baloo: 'Baloo 2', sans-serif;
  --font-open-sans: 'Open Sans', sans-serif;

  --font-logo: 400 2.5rem / normal var(--font-leckerlione);

  --heading-md: 700 1.75rem / normal var(--font-baloo);
  --heading-sm: 700 1.125rem / normal var(--font-baloo);

  --body-md: 400 1rem / normal var(--font-open-sans);
  --body-sm: 400 0.875rem / normal var(--font-open-sans);
  --body-xs: 400 0.75rem / normal var(--font-open-sans);

  /* Cores */

  --brand-light: #59b2ff;
  --brand-mid: #3487cf;
  --brand-dar: #1d6fb6;

  /* Accent colors */

  --purple: #b259ff;
  --fuschia: #ff59f9;
  --pink: #ff598b;
  --orange: #ff8b59;
  --yellow: #ffcd59;
  --lime: #e1ff59;
  --green: #59ff91;
  --cyan: #59fff9;
  --navy: #6a59ff;

  /* Feedback Colors */

  --danger: #ff5959;

  /* Input Colors */

  --input-base: #1c1f21;
  --input-stroke: #363b40;
  --input-placeholder: #869198;

  /* Shape Colors */

  --shape-background: #131516;
  --shape-body: #212427;
  --shape-button: #2d3136;
  --shape-hover: #383d42;

  /* text Colors */

  --text-body: #c8cdd0;
  --text-heading: #f9f9f9;
}

body {
  background-color: var(--shape-background);
}
